@import url(./perfil/cabecalho/cabecalho.css);
@import url(./perfil/login/login.css);

:root {
    --amarelo: #FFA634;
    --gradiente-amarelo-vermelho: linear-gradient(270deg, #FFA634 0%, #FF267A 100%);
    --gradiente-verde: linear-gradient(180deg, #64FA9B 0%, #5FE36A 100%);
    --gradiente-roxo: linear-gradient(225deg, #781FD1 0%, #570EAB 100%);
    --gradiente-azul: linear-gradient(180deg, #4DF0F3 0%, #4D7BFD 100%);
    --branco: #F9F9F9;
    --cinza: #A8A8A8;
    --cinza-escuro: #181818;
    --preto: #121214;
    --fonte-pricipal: 'Open Sans', sans-serif;
    --fonte-secundaria: 'Mukta', sans-serif;
}

body {
    font-family: var(--fonte-pricipal);
    background-color: var(--preto);
}

